<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Page title -->
    <title>Stateless authentication sample</title>

    <link rel="stylesheet" th:href="@{/css/normalize.css}" href="/css/normalize.css"/>
    <link rel="stylesheet" th:href="@{/css/skeleton.css}" href="/css/skeleton.css"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}" href="/css/footer.css"/>
</head>
<body>
<div class="container">

    <!-- columns should be the immediate child of a .row -->
    <div class="row">
        <div class="four columns">
            <h1>Todos</h1>
        </div>
        <div class="eight columns">
            <div class="u-pull-right">
                <form th:action="@{/logout}" method="post">
                    <button class="button button-primary" type="submit">Logout</button>
                </form>
            </div>
        </div>
    </div>

    <!-- just use a number and class 'column' or 'columns' -->
    <div class="row">
        <table id="todo_table" class="u-full-width">
            <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first">
            <tr th:each="todo : ${todos}">
                <td th:text="${todo.task}">Install testcafe</td>
                <td><a class="button button-primary u-pull-right" th:attr="data-id=${todo.id}" href="#">delete</a></td>
            </tr>
            <tr>
                <td>Dwayne Johnson</td>
                <td><a class="button button-primary u-pull-right" href="#">delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <form th:action="@{/todo/new}" method="post">
            <div class="row">
                <div class="six columns">
                    <label for="input">Taskname</label>
                    <input class="u-full-width" type="text" placeholder="your task text" id="input" name="name"/>
                </div>
            </div>
            <input class="button-primary" type="submit" value="Submit"/>
        </form>
    </div>
</div>

<div class="container">
    <h6>made by Daniel Wasilew &lt;daniel@dedicatedcode.com&gt;</h6>
</div>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var token = /*[[${_csrf.token}]]*/ 'value';
    function addEvent(el, type, handler) {
        if (el.attachEvent) el.attachEvent('on' + type, handler); else el.addEventListener(type, handler);
    }

    function postAjax(url, data, success) {
        var params = typeof data == 'string' ? data : Object.keys(data).map(
                function(k){ return encodeURIComponent(k) + '=' + encodeURIComponent(data[k]) }
            ).join('&');

        var xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHTTP");
        xhr.open('POST', url);
        xhr.onreadystatechange = function() {
            if (xhr.readyState>3 && xhr.status==200) { success(xhr.responseText); }
        };
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xhr.setRequestHeader('X-XSRF-TOKEN', token);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.send(params);
        return xhr;
    }

    var matches = document.querySelectorAll('#todo_table a');
    for (i = 0; i < matches.length; i++) {
        addEvent(matches[i], 'click', function () {
                var id = this.parentNode.lastChild.getAttribute('data-id');
                console.log(id);
                postAjax('/todo/delete', 'id=' + id, function () {
                    window.location.reload();
                });
                return false
            }
        )
    }
    /*]]>*/
</script>
</body>
</html>